/* COLORES: 
 * blanco: #DFEFF2
 * gris: #B8D3D9
 * dark-gris: #6C898C
 * dark: #1C2526
 * colorful: #F26E50
/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */
 
html { 
	font-size: 100%; 
	height: 100%;
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body { 
	background-color: #DFEFF2;
	font-size: 13px; 
	height: 100%;
	line-height: 1.231; 
	margin: 0; 
}
 
body, button, input, select, textarea { 
	font-family: verdana, sans-serif; 
	color: #1C2526; 
}

#container {
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	width: 960px;
}

div#main {
	height: 100%;
	overflow:auto;
	padding-top: 70px;
	padding-bottom: 50px;
}

div #diapositiva {
	background-color: #B8D3D9;
	border: 1px solid #6C898C;
	border-radius: 20px;
	height: auto;
	margin: 22px;
}

header {
	background-color: #B8D3D9;
	border-bottom: 1px solid #6C898C;
	clear:both;
	height: 70px;
	margin-bottom: -70px; /* negative value of footer height */
	text-align: center;
	position: relative;
}

header h1 {
	padding-top: 15px;
	margin: 0px;
}

footer {
	background-color: #B8D3D9;
	border-top: 1px solid #6C898C;
	clear:both;
	height: 50px;
	margin-top: -50px; /* negative value of footer height */
	text-align: center;
	position: relative;
}
